/* App */



/* Import des fonts */
@font-face {
    font-family: 'Lobster';
    src: url('./assets/fontsFamily/Lobster-Regular.ttf') format('truetype');
}



/* ************************** */

/* Navbar */

.navbar-nav li {
    padding: 0 2rem;
}

.nav-link {
    font-size: 2rem;
}

.btnLog {
    padding: 0.7rem 1.3rem;
}

/* ************************** */
/* Cart */

/* ************************** */
/* Contact */

/* Home */
/* ************************** */

/*=== Main ===*/

/* CarouselMenuHamburger */
/* ************************** */


/* HeaderMain */
/* ************************** */


/* MenuTacos */
/* ************************** */


/* MenuTacosSpe */
/* ************************** */


/* Fin Main */



/* Sign */
/* ************************** */


/* ************************** */
/* ************************** */
/* ************************** */
/* ************************** */
