/* App */



/* Import des fonts */
@font-face {
    font-family: 'Lobster';
    src: url('./assets/fontsFamily/Lobster-Regular.ttf') format('truetype');
}



/* ************************** */

/* Navbar */

.navbar-nav li {
    padding: 0 2rem;
}

.nav-link {
    font-size: 1.5rem!important;
}

.btnLog {
    padding: 0.7rem 1.3rem;
}

/* ************************** */
/* Cart */

/* ************************** */
/* Contact */

/* Home */
/* ************************** */

/*=== HeaderMain ===*/
.TitleMain{
    padding: 1rem;
    font-size: 5rem;
}

.TextMain {
    padding: 0.7rem;
    font-size: 1.5rem;
}

#slogan {
    padding: 1rem;
    font-size: 2rem!important;
}

#buttonHomeCommand {
    margin-left: 12rem;
}

/* CarouselMenuHamburger */
/* ************************** */


/* HeaderMain */
/* ************************** */


/* MenuTacos */
/* ************************** */


/* MenuTacosSpe */
.card{
    background-color: #c75b0e !important;
}


/* ************************** */


/* Fin Main */



/* Sign */
/* ************************** */


/* ************************** */
/* ************************** */
/* ************************** */
/* ************************** */
